# Spring AI ZhiPuAI
ZHIPUAI_API_KEY=your-api-key-here

# MySQL
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

# Milvus
MILVUS_HOST=localhost
MILVUS_PORT=19530

# Redis
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
